@import "./normalize";

// ============== COLORS =================

$bgDark: #171C22;
$bgMedium: #1F262E;
$fontPrimary: #ffffff;
$fontSecondary: #8694A1;
$innerCircleCallColor: #0093f5;



// ============== SPACINGS ===============






// ============== FONT SIZE ==============



// ============== BOX SHADOW =============



// ============== BORDER RADIUS ==========



// ============== BORDER =================


// ============== ANIMATIONS =============

$animationCurveCall: cubic-bezier(0.12, 0.7, 0.74, 0.71);
